.sudoku-game {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}


.sudoku-segment {
    border: 1px solid gray;
    margin: 1px;
    padding: 1px;
    width: calc(100%/3 - 6px);
    height: calc(100%/3 - 6px);
    display: flex;
    flex-wrap: wrap;
}

.sudoku-cell {
    text-align: center;
    font-size: 100%;
    width: calc(100%/3 - 2px);
    height: calc(100%/3 - 2px);
    border: none;
    outline: none;
    padding: 0;
    margin: 1px;
    background: #d5fbff;
}

.sudoku-cell.start-cell {
    color: gray;
}

.sudoku-cell.supported-cell {
    background: #b7fecd;
}

.sudoku-cell.selected-cell {
    background: #84f0fc;
}

.sudoku-cell.important-cell {
    color: blue;
}

.sudoku-cell.start-cell.error {
    color: #ed0a0a;
}


.sudoku-cell.error {
    color: red;
}

.container-block{
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* ************ form ************ */

.container {
    width: 650px;
    margin: 100px auto;
    background: #3333336b;
}

.form {
    text-align: center;
}

.text, .pasw{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

label {
    margin: 10px 0;
}

#input-login, #input-pasword {
    padding: 7px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #3333336b;
}

#input-login:focus, #input-pasword:focus{
    border: 2px solid rgba(21, 189, 175, 0.856);
}

.btn {
    outline: none;
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid #03A9F4;
    cursor: pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    transition: all .9s;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -ms-transition: all .9s;
    -o-transition: all .9s;
}

.btn:hover{
    border: 2px solid rgb(88, 188, 235);
    background:#333;
    color:#fff;
}

/* / ************ form *********** */
